@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol" !default;
$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit: 30px !default;

$text-color: #111 !default;
$background-color: #fdfdfd !default;
$brand-color: #2a7ae2 !default;

$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width: 800px !default;

$on-palm: 600px !default;
$on-laptop: 800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import "minima/base", "minima/layout", "minima/syntax-highlighting";

// 기본 폰트
* {
  // font-family: "Noto Sans KR", sans-serif;
  font-family: "Nanum Gothic Coding", monospace;
  -webkit-font-family: "Nanum Gothic Coding", monospace;
  word-break: keep-all;
}

// 포스팅 리스트 이미지
.posts_image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: top;
  border-radius: 5px 5px 0 0;
}
.post_lis {
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px #eee;
}
.lower {
  padding: 5px 20px 20px 20px;
  letter-spacing: 1px;
  .post-meta {
    font-family: "Nanum Pen Script", cursive;
    -webkit-font-family: "Nanum Pen Script", cursive;
  }
  .post-link {
    color: #222;
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 0.2px;
    font-family: "Nanum Pen Script", cursive;
    -webkit-font-family: "Nanum Pen Script", cursive;
  }
  h3 {
    margin-bottom: 0px !important;
    margin-top: 0px;
  }
  .description {
    color: #666;
    font-size: 17px;
    margin-top: -5px;
    margin-bottom: 0px;
    font-family: "Nanum Pen Script", cursive;
    -webkit-font-family: "Nanum Pen Script", cursive;
  }
  .excerpt {
    font-size: 15px;
    letter-spacing: 0.3px;
  }
  .post_footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .post_logo {
      object-fit: scale-down;
      width: 30px;
      height: 30px;
      padding: 3px;
      border: 1px solid rgb(33, 116, 240);
      border-radius: 50%;
    }
    .read_time {
      font-size: 12px;
      color: #999;
      letter-spacing: -1px;
    }
  }
}

// 데스크탑 사이즈 포스트 이미지
@media (min-width: 490px) {
  .posts_image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: top;
    border-radius: 5px 5px 0 0;
  }
}
